


.cabecalho{
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 10%;
}


.cabecalho-lista-item{
   display: inline-block; 
   margin: 0 16px;
}
.escola-imagem{
    width: 25%
}

.escola{
 background-image: linear-gradient(#CC0ED0,#9D00D4) ;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 24px 0;
}
 
.escola-div-conteudo{
    width: 35%;
}